@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: "Open Sans";
}
@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: "Roboto";
}
@media screen and (min-width: 768px) and (max-width: 1299px) {}

.title {
    font-family: "Open Sans", Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    color: #06266F;
    margin: 0;
}

.subtitle {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    /*line-height: 37px;*/
    /*letter-spacing: -0.07em;*/
    /*text-transform: uppercase;*/
    color: #06266F;
    margin: 0;
}

.subtitle__big {
    font-size: 37px;
}

.button {
    background-color: #4671D5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}

.button > img {
    height: 30px;
}

.text {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0;
}

body {
    margin: 0;
    padding: 15px 150px;
    font-family: 'Roboto', Arial, serif;
    background-color: #FFFFFF;
}

/*.container {*/
/*    max-width: 1000px;*/
/*    margin: 0 auto;*/
/*}*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 40px;
    max-width: 700px;
    padding: 40px 15px 0;
}

.header__button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #4671D5;
}

.current {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto 40px;
    padding: 0 15px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 320px;
}

.location_temperature {
    display: flex;
}

.location_temperature > * {
    margin: 20px 20px 20px 0;
    height: 100px;
}

.degree__big {
    font-size: 80px;
}

.details {
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.details_item {
    display: flex;
    justify-content: space-between;
    background-color: #6C8CD5;
    height: 34px;
    align-items: center;
    padding: 0 4px;
}

.favourite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

.favourite > * {
    margin-bottom: 20px;
}

.favourite_item {
    width: 320px;
    margin: 15px;
}

.favourite-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favourite_new-city {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.favourite_new-city__input {
    height: 36px;
    width: 260px;
    background-color: aliceblue;
}

.city-header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.degree__small {
    font-size: 25px;
}

.city-header > img {
    height: 40px;
}
